@use "../../variables" as var;
.page_frame {
  &_bg {
    height: 100%;
    width: 100%;
    background: var.$background;
  }
  &_main {
    padding: 4rem 0 0 4rem;
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &_startPage {
      @extend .page_frame_main;
      width: 100vw;
      padding-left: 0;
    }
  }
}
