.page_mainPage {
  &_icon {
    aspect-ratio: 1 / 1;
    flex: 1;
  }
  &_button {
    background-color: #576233;
    color: #fefae0;
    &:hover {
      background-color: hsl(74, 32%, 24%);
    }
  }
  &_paper {
    background: #fefae0;
    padding: 1rem 2rem;
    color: #283618;
    max-width: 90%;
    display: flex;
    margin: 1rem 1rem;
    height: auto;
    flex-wrap: wrap;
  }
}
