@use "../../../variables" as var;
.page_frame_header {
  position: fixed;
  max-height: 64px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var.$light-green;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
